section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Nixie One,cursive;
}

.size{
    width: 1000px;
}

.mat-mdc-slider{
    width: 1000px;
}

#one{
    background-color: #3730a3;
    color: white;
}

#second {
    background-color: #be185d;
    color: white;
}

#third {
    background-color: #be185d;
    color: white;
}
h1
{
    font-family: Nixie One,cursive;
    font-size:50px;
}

h2 {
    font-family: Nixie One,cursive;
    font-size: 30px;
}

h3{
    font-family: Nixie One,cursive;
    font-size: 40px;
}